

<!-- You can now use the library component in app.component.html  -->
<mat-toolbar class="mat-toolbar">
  <button mat-button class="mat-button"> Cicerone </button>
  <div class="flex-spacer"></div>
  <button mat-button class="mat-button-right" (click)="openDialog2()"> Registrati </button>
  <button mat-button class="mat-button-right" (click)="openDialog()"> Accedi </button>
  <button mat-button class="mat-button-right"><ngx-auth-firebaseui-avatar></ngx-auth-firebaseui-avatar> </button>
</mat-toolbar>
<div class="spacediv">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title fontsize="12px">Prenota la tua attività.</mat-card-title>
  </mat-card-header>
  <mat-card-subtitle>Dove</mat-card-subtitle>
  

  <mat-card-content>
      <form class="example-form">
          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput placeholder="Ex. Torino" value="" required>
          </mat-form-field>
          <br>
          <div>
          <button mat-flat-button color="primary">Cerca</button>
          </div>
        </form>
  </mat-card-content>
</mat-card>
</div>

<router-outlet></router-outlet>